@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --color-primary100: hsl(215, 51%, 70%);
    --color-primary200: hsl(178, 100%, 50%);

    --color-neutral100: hsl(217, 54%, 11%);
    --color-neutral200: hsl(216, 50%, 16%);
    --color-neutral300: hsl(215, 32%, 27%);
    --color-neutral400: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: .7rem;

	background-color: var(--color-neutral100);
	line-height: 1.5rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

section {
	background-color: var(--color-neutral200);
	padding: 1.5rem;
	border-radius: 1rem;

	display: grid;
	grid-template-rows: auto 1fr;

	width: min(80%, 20rem);
	height: max(50%, 15rem);
}

.thumbnail {
	display: grid;
	grid-template: 1fr / 1fr;
	place-items: center;
}

.thumbnail-image {
	cursor: pointer;
}

.thumbnail > * {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
  }

.thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 100;

	border-radius: .7rem;
}

.view {
	background-color: var(--color-primary200);
	height: 100%;
	width: 100%;

	opacity: .5;
	border-radius: .7rem;

	display: flex;
	justify-content: center;
	align-items: center;

	display: none;
	
}

.view img {
	height: 10%;
	width: 10%;
}

.thumbnail-image:hover + .view {
	display: flex;
}

.info-card {
	display: grid;
	gap: 1rem;

	margin-top: 1rem;
}

h1 {
	color: var(--color-neutral400);

	font-size: 1rem;
	font-weight: 700;
}

p, span {
	color: var(--color-primary100);
	font-weight: 500;
}

:is(h1,.author span):hover  {
	cursor: pointer;
	color: var(--color-primary200);
}

.data {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.ethereum {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: .5rem;
}

.ethereum span {
	color: var(--color-primary200);
}

.time {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: .5rem;
}

hr {
	background-color: var(--color-neutral300);
	height: 2px;
	border: none;
}

.profile {
	display: grid;
	grid-template-columns: 10% 1fr;
	align-items: center;
	gap: 1rem;
	
}

.avatar {
	display: flex;
	justify-self: center;
	align-items: center;
}

.avatar img {
	object-fit: cover;
	height: 100%;
	width: 100%;

	border: 2px solid var(--color-neutral400);
	border-radius: 100%;
}

.author {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.author span {
	color: var(--color-neutral400);
}

@media screen and (min-width: 50em) {
	body {
		font-size: 1rem;
	}

	h1 {
		font-size: 1.25rem;
	}
}